# KroGram - Modern Chat API
DATABASE_URL=postgresql://user:pass@db:5432/krogram
REDIS_URL=redis://redis:6379/0
SECRET_KEY=yoursupersecretkeythatshouldberangedandom
ACCESS_TOKEN_EXPIRE_MINUTES=43200
PROJECT_NAME="KroGram API"
